<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Electron-Starter</title>
    <link rel="stylesheet" href="../styles/photon.min.css">
</head>

<body>
    <div class="window">
        <div class="window-content">
            <div class="pane-group">
                <div class="pane-sm sidebar">

                </div>

                <div class="pane">
                    <h1 id="welcome"><span class="icon icon-window"></span></h1>
                </div>
            </div>
        </div>
        <script src="../scripts/index.js"></script>
    </div>
</body>

</html>
